In [1]:
pip install yfinance

Collecting yfinanceNote: you may need to restart the kernel to use updated packages.

  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: lxml>=4.5.1 in c:\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pandas>=0.24.0 in c:\anaconda3\lib\site-packages (from yfinance) (1.3.4)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.15 in c:\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: requests>=2.26 in c:\anaconda3\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: six>=1.5 in c:\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Building wheels for collected packages: multitasking
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.10-py3-none-any.whl size=8500 sha256=952f2a5b512d319357b0e50c3dd39c199b7a5a33f62958fdf0582dc5e7de4f93
  Stored in directory: c:\users\sn112\appdata\local\pip\cache\wheels\f2\b5\2c\59ba95dcf854e542944c75fe3da584e4e3833b319735a0546c
Successfully built multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.10 yfinance-0.1.70

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [3]:
#ティッカーシンボルを引数に指定してとってくる
aapl = yf.Ticker('AAPL')

In [5]:
aapl.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-26,163.291951,164.180817,157.619186,159.486801,108275300,0.00,0
2022-01-27,162.243296,163.631527,158.078604,159.017410,121954600,0.00,0
2022-01-28,165.499150,170.133245,162.592849,170.113266,179935700,0.00,0
2022-01-31,169.943485,174.777323,169.294303,174.557602,115541600,0.00,0
2022-02-01,173.788575,174.617520,172.090741,174.387817,86213900,0.00,0
2022-02-02,174.527647,175.656214,173.109456,175.616257,84914300,0.00,0
2022-02-03,174.257984,176.015754,171.900986,172.679993,89418100,0.00,0
2022-02-04,171.679993,174.100006,170.679993,172.389999,82391400,0.22,0
2022-02-07,172.860001,173.949997,170.949997,171.660004,77251200,0.00,0
2022-02-08,171.729996,175.350006,171.429993,174.830002,74829200,0.00,0
2022-02-09,176.050003,176.649994,174.899994,176.279999,71285000,0.00,0
2022-02-10,174.139999,175.479996,171.550003,172.119995,90865900,0.00,0
2022-02-11,172.330002,173.080002,168.039993,168.639999,98566000,0.00,0
2022-02-14,167.369995,169.580002,166.559998,168.880005,86185500,0.00,0
2022-02-15,170.970001,172.949997,170.250000,172.789993,64286300,0.00,0
2022-02-16,171.850006,173.339996,170.050003,172.550003,61177400,0.00,0
2022-02-17,171.029999,171.910004,168.470001,168.880005,69589300,0.00,0
2022-02-18,169.820007,170.539993,166.190002,167.300003,82614200,0.00,0
2022-02-22,164.979996,166.690002,162.149994,164.320007,91162800,0.00,0
2022-02-23,165.539993,166.149994,159.750000,160.070007,90009200,0.00,0
2022-02-24,152.580002,162.850006,152.000000,162.740005,141147500,0.00,0
2022-02-25,163.839996,165.119995,160.869995,164.850006,91881700,0.00,0

In [6]:
aapl.history().shape

(22, 7)

In [12]:
#50日分のデータ取得
days = 50
hist = aapl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-12-15,174.887183,179.271596,172.090743,179.071854,131063300,0.00,0
2021-12-16,179.051874,180.909508,170.532729,172.040802,150185800,0.00,0
2021-12-17,169.713774,173.249278,169.474089,170.922241,195432700,0.00,0
2021-12-20,168.065866,170.362942,167.246917,169.533997,107499100,0.00,0
2021-12-21,171.341694,172.979606,168.904796,172.769882,91185900,0.00,0
2021-12-22,172.819806,175.636225,171.930939,175.416504,92135300,0.00,0
2021-12-23,175.626249,176.624977,175.046985,176.055695,68356600,0.00,0
2021-12-27,176.864657,180.190422,176.844694,180.100540,74919600,0.00,0
2021-12-28,179.930762,181.099272,178.302832,179.061859,79144300,0.00,0
2021-12-29,179.101809,180.400158,177.913321,179.151749,62348900,0.00,0
2021-12-30,179.241640,180.340246,177.863391,177.973251,59773000,0.00,0
2021-12-31,177.863383,179.001931,177.034437,177.344055,64062300,0.00,0
2022-01-03,177.603723,182.647300,177.483880,181.778397,104487900,0.00,0
2022-01-04,182.397624,182.707227,178.892080,179.471344,99310400,0.00,0
2022-01-05,179.381453,179.940738,174.417776,174.697418,94537600,0.00,0
2022-01-06,172.480249,175.076947,171.421601,171.781143,96904000,0.00,0
2022-01-07,172.670013,173.918422,170.812379,171.950928,86580100,0.00,0
2022-01-10,168.864858,172.280505,167.956012,171.970901,106765600,0.00,0
2022-01-11,172.100741,174.957087,170.602650,174.857224,76138300,0.00,0
2022-01-12,175.895886,176.954535,174.597553,175.306641,74805200,0.00,0
2022-01-13,175.556330,176.395257,171.571401,171.970901,84505800,0.00,0
2022-01-14,171.121983,173.558881,170.872301,172.849792,80355000,0.00,0
2022-01-18,171.291754,172.320442,169.194435,169.583939,90956700,0.00,0
2022-01-19,169.783686,170.862313,165.728854,166.018478,94815000,0.00,0
2022-01-20,166.767517,169.464079,163.971077,164.300659,91420500,0.00,0
2022-01-21,164.210791,166.118364,162.093493,162.203354,122848900,0.00,0
2022-01-24,159.816382,162.093480,154.503145,161.414337,162294600,0.00,0
2022-01-25,158.777706,162.552895,156.820208,159.576691,115798400,0.00,0
2022-01-26,163.291951,164.180817,157.619186,159.486801,108275300,0.00,0
2022-01-27,162.243296,163.631527,158.078604,159.017410,121954600,0.00,0
2022-01-28,165.499150,170.133245,162.592849,170.113266,179935700,0.00,0
2022-01-31,169.943485,174.777323,169.294303,174.557602,115541600,0.00,0
2022-02-01,173.788575,174.617520,172.090741,174.387817,86213900,0.00,0
2022-02-02,174.527647,175.656214,173.109456,175.616257,84914300,0.00,0
2022-02-03,174.257984,176.015754,171.900986,172.679993,89418100,0.00,0
2022-02-04,171.679993,174.100006,170.679993,172.389999,82391400,0.22,0
2022-02-07,172.860001,173.949997,170.949997,171.660004,77251200,0.00,0
2022-02-08,171.729996,175.350006,171.429993,174.830002,74829200,0.00,0
2022-02-09,176.050003,176.649994,174.899994,176.279999,71285000,0.00,0
2022-02-10,174.139999,175.479996,171.550003,172.119995,90865900,0.00,0
2022-02-11,172.330002,173.080002,168.039993,168.639999,98566000,0.00,0
2022-02-14,167.369995,169.580002,166.559998,168.880005,86185500,0.00,0
2022-02-15,170.970001,172.949997,170.250000,172.789993,64286300,0.00,0
2022-02-16,171.850006,173.339996,170.050003,172.550003,61177400,0.00,0
2022-02-17,171.029999,171.910004,168.470001,168.880005,69589300,0.00,0
2022-02-18,169.820007,170.539993,166.190002,167.300003,82614200,0.00,0
2022-02-22,164.979996,166.690002,162.149994,164.320007,91162800,0.00,0
2022-02-23,165.539993,166.149994,159.750000,160.070007,90009200,0.00,0
2022-02-24,152.580002,162.850006,152.000000,162.740005,141147500,0.00,0
2022-02-25,163.839996,165.119995,160.869995,164.850006,91881700,0.00,0

In [13]:
#Dateがカラムにないことがわかる　つまり　Dateはインデックス
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [18]:
#hist.reset_index()

In [15]:
hist_msft = yf.Ticker('MSfT').history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-12-15,327.931927,334.498367,323.830422,333.959473,35381100,0.0,0
2021-12-16,335.017276,336.065127,322.353458,324.229584,35034800,0.0,0
2021-12-17,320.217878,324.249550,316.595364,323.131836,47750300,0.0,0
2021-12-20,319.389573,322.133899,316.914710,319.249878,28326500,0.0,0
2021-12-21,322.622908,327.053749,319.140089,326.614655,24740600,0.0,0

In [17]:
#histとhist_msftを合わせる
pd.concat([hist,hist_msft],axis = 1).head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2021-12-15,174.887183,179.271596,172.090743,179.071854,131063300,0.0,0,327.931927,334.498367,323.830422,333.959473,35381100,0.0,0
2021-12-16,179.051874,180.909508,170.532729,172.040802,150185800,0.0,0,335.017276,336.065127,322.353458,324.229584,35034800,0.0,0
2021-12-17,169.713774,173.249278,169.474089,170.922241,195432700,0.0,0,320.217878,324.249550,316.595364,323.131836,47750300,0.0,0
2021-12-20,168.065866,170.362942,167.246917,169.533997,107499100,0.0,0,319.389573,322.133899,316.914710,319.249878,28326500,0.0,0
2021-12-21,171.341694,172.979606,168.904796,172.769882,91185900,0.0,0,322.622908,327.053749,319.140089,326.614655,24740600,0.0,0

In [19]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-12-15,174.887183,179.271596,172.090743,179.071854,131063300,0.0,0
2021-12-16,179.051874,180.909508,170.532729,172.040802,150185800,0.0,0
2021-12-17,169.713774,173.249278,169.474089,170.922241,195432700,0.0,0

In [20]:
#フォーマットの修正

In [21]:
hist.index

DatetimeIndex(['2021-12-15', '2021-12-16', '2021-12-17', '2021-12-20',
               '2021-12-21', '2021-12-22', '2021-12-23', '2021-12-27',
               '2021-12-28', '2021-12-29', '2021-12-30', '2021-12-31',
               '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-18', '2022-01-19',
               '2022-01-20', '2022-01-21', '2022-01-24', '2022-01-25',
               '2022-01-26', '2022-01-27', '2022-01-28', '2022-01-31',
               '2022-02-01', '2022-02-02', '2022-02-03', '2022-02-04',
               '2022-02-07', '2022-02-08', '2022-02-09', '2022-02-10',
               '2022-02-11', '2022-02-14', '2022-02-15', '2022-02-16',
               '2022-02-17', '2022-02-18', '2022-02-22', '2022-02-23',
               '2022-02-24', '2022-02-25'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [23]:
hist.index = hist.index.strftime('%d %B %Y')

In [24]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
15 December 2021,174.887183,179.271596,172.090743,179.071854,131063300,0.0,0
16 December 2021,179.051874,180.909508,170.532729,172.040802,150185800,0.0,0
17 December 2021,169.713774,173.249278,169.474089,170.922241,195432700,0.0,0
20 December 2021,168.065866,170.362942,167.246917,169.533997,107499100,0.0,0
21 December 2021,171.341694,172.979606,168.904796,172.769882,91185900,0.0,0

In [26]:
hist = hist[['Close']]
hist

                       Close
Date
15 December 2021  179.071854
16 December 2021  172.040802
17 December 2021  170.922241
20 December 2021  169.533997
21 December 2021  172.769882
22 December 2021  175.416504
23 December 2021  176.055695
27 December 2021  180.100540
28 December 2021  179.061859
29 December 2021  179.151749
30 December 2021  177.973251
31 December 2021  177.344055
03 January 2022   181.778397
04 January 2022   179.471344
05 January 2022   174.697418
06 January 2022   171.781143
07 January 2022   171.950928
10 January 2022   171.970901
11 January 2022   174.857224
12 January 2022   175.306641
13 January 2022   171.970901
14 January 2022   172.849792
18 January 2022   169.583939
19 January 2022   166.018478
20 January 2022   164.300659
21 January 2022   162.203354
24 January 2022   161.414337
25 January 2022   159.576691
26 January 2022   159.486801
27 January 2022   159.017410
28 January 2022   170.113266
31 January 2022   174.557602
01 February 2022  174.387817
02 February 2022  175.616257
03 February 2022  172.679993
04 February 2022  172.389999
07 February 2022  171.660004
08 February 2022  174.830002
09 February 2022  176.279999
10 February 2022  172.119995
11 February 2022  168.639999
14 February 2022  168.880005
15 February 2022  172.789993
16 February 2022  172.550003
17 February 2022  168.880005
18 February 2022  167.300003
22 February 2022  164.320007
23 February 2022  160.070007
24 February 2022  162.740005
25 February 2022  164.850006

In [27]:
#closeではなくアップルの終値にする
hist.columns = ['apple']
hist.head()

                       apple
Date
15 December 2021  179.071854
16 December 2021  172.040802
17 December 2021  170.922241
20 December 2021  169.533997
21 December 2021  172.769882

In [29]:
#行と列の転置
hist = hist.T
hist

Date,15 December 2021,16 December 2021,17 December 2021,20 December 2021,21 December 2021,22 December 2021,23 December 2021,27 December 2021,28 December 2021,29 December 2021,...,11 February 2022,14 February 2022,15 February 2022,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022
apple,179.071854,172.040802,170.922241,169.533997,172.769882,175.416504,176.055695,180.10054,179.061859,179.151749,...,168.639999,168.880005,172.789993,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006

In [31]:
#indexにname追加
hist.index.name = 'Name'
hist

Date,15 December 2021,16 December 2021,17 December 2021,20 December 2021,21 December 2021,22 December 2021,23 December 2021,27 December 2021,28 December 2021,29 December 2021,...,11 February 2022,14 February 2022,15 February 2022,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022
Name,,,,,,,,,,,,,,,,,,,,,
apple,179.071854,172.040802,170.922241,169.533997,172.769882,175.416504,176.055695,180.10054,179.061859,179.151749,...,168.639999,168.880005,172.789993,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006

Date,15 December 2021,16 December 2021,17 December 2021,20 December 2021,21 December 2021,22 December 2021,23 December 2021,27 December 2021,28 December 2021,29 December 2021,...,11 February 2022,14 February 2022,15 February 2022,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022
Name,,,,,,,,,,,,,,,,,,,,,
apple,179.071854,172.040802,170.922241,169.533997,172.769882,175.416504,176.055695,180.10054,179.061859,179.151749,...,168.639999,168.880005,172.789993,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006

In [2]:
import sys
import pprint